.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.image {
    flex: 0 0 100px;
    margin-right: 20px;
    display: block;
    max-width: 150px;
}